body {
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "info info"
        "buyer seller"
        "charges charges";
    padding: 50px;
}
table {
    margin: 10px;
}
thead {
    color: #000;
}
table, td {
    border: 1px solid #000;
}
td {
    min-width: 150px;
}
header {
    grid-area: "header";
}
.info {
    grid-area: "info";
}
.buyer-side {
    grid-area: "buyer";
}
.seller-side {
    grid-area: "seller"
}
.charges {
    grid-area: "charges";
}

input[type=number] {
   
}