@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "info info"
        "buyer seller"
        "charges charges";
    padding: 10px;
    font-family: 'Arial', sans-serif;
}
table {
    margin: 10px;
}
thead {
    color: #000;
}
td {
    border: 1px solid #000;
    border-radius: 3px;
    min-width: 100px;
    padding: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(207deg, rgba(255,255,255,1) 0%, rgba(241,241,241,0.9) 60%);
}
header {
    grid-area: header;
}
.info {
    grid-area: info;
}
.buyer-side {
    grid-area: buyer;
}
.seller-side {
    grid-area: seller;
}
.charges {
    grid-area: charges;
}

input[type=number], input[type=text], input[type=date] {
    border: none;
    background: transparent;
}

input[type=number]:hover, input[type=text]:hover, input[type=date]:hover {
    cursor: pointer;
}

